<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>New User</title>
</head>
<body class="container pt-3">
    <h1>Add a New User</h1>
    <form action="/users/create" method="post">
        <p class="mb-3 mt-3">
            First Name:
            <input type="text" class="form-control" id="pwd" name="first_name">
        </p>
        <p class="mb-3 mt-3">
            Last Name:
            <input type="text" class="form-control" id="pwd" name="last_name">
        </p>
        <p class="mb-3 mt-3">
            Email:
            <input type="email" class="form-control" id="pwd" name="email">
        </p>
        <button class="btn btn-secondary mt-3 mb-4">Create</button>
    </form>
    <a href="/">Home</a>
</body>
</html>